@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "agbalumo", cursive;
    height: 100px;

}
.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
}

.banner video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.banner .content {
    position: relative;
    z-index: 1;
    max-width: 100px;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    padding-right: 400.0px;
    
}
.infograf{
    margin-left: -700px; 
    margin-top: 600px; /* mexendo na box UL explorer*/
    text-align: relative;
    color:rgb(0, 0, 0);
    overflow: hidden;       
}
.infograf2{
    margin-left: -300px; 
    margin-top: -219px; /* mexendo na box UL explorer*/
    color:rgb(0, 0, 0);
    overflow: hidden;     
}
.infograf3{
    margin-left: 100px; 
    margin-top: -219px; /* mexendo na box UL explorer*/
    color:rgb(0, 0, 0);
    overflow: hidden;   

}
.infograf4{
    margin-left: 500px; 
    margin-top: -219px; /* mexendo na box UL explorer*/
    color:rgb(0, 0, 0);
    overflow: hidden;   

}
.banner .content h1 {
    text-align: relative;
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(8, 0, 0);
    white-space: nowrap;

}

.infografico ul {
    width: 300px; 
    height: 200px; 
    overflow: auto; 
    border: 1px solid #b10606; 
    overflow-y: auto;
    padding-left: 0.0px;

}
.infografico2 ul {
    width: 300px; 
    height: 200px; 
    overflow: auto; 
    border: 1px solid #b10606; 
    overflow-y: auto;
    padding-left: 0.0px;
}
.infografico3 ul {
    width: 300px; 
    height: 200px; 
    overflow: auto; 
    border: 1px solid #b10606; 
    overflow-y: auto;
    padding-left: 0.0px;
}
.infografico4 ul {
    width: 300px; 
    height: 200px; 
    overflow: auto; 
    border: 1px solid #b10606; 
    overflow-y: auto;
    padding-left: 0.0px;
}